---
// 1. Importas el Layout
import LayoutPrincipal from "../layouts/LayoutPrincipal.astro";

// 2. Importas las secciones estáticas (Astro)
import Hero from "../components/landing/Hero.astro";
import Servicios from "../components/landing/Servicios.astro";
import Navbar from "../components/common/Navbar.astro";
import Nosotros from "../components/landing/Nosotros.astro";

// 3. Importas las islas interactivas (React)
import CalculadoraPresupuesto from "../components/react/Calcpres.jsx";
import FormularioContacto from "../components/react/Formcont.jsx";
---

<LayoutPrincipal title="Joltec | Soluciones Tecnológicas">
  <main class="relative min-h-screen">
    <div class="relative z-10">
      <Hero />
    </div>
    <section id="servicios" class="relative z-10">
      <Servicios />
    </section>
  </main>
</LayoutPrincipal>
