---
import { Image } from "astro:assets";
import LogoJoltec from "../../images/logoJoltec.png";
---

<footer
    class="bg-gray-900 border-2 border-red-500 relative z-50 text-white border-t border-gray-800 py-12"
>
    <div
        class="max-w-7xl mx-auto px-4 flex flex-col md:flex-row items-center justify-between gap-8"
    >
        <!-- Left: Links -->
        <div
            class="text-sm text-gray-400 space-y-2 md:space-y-0 md:space-x-8 flex flex-col md:flex-row items-center"
        >
            <a href="#" class="hover:text-white transition-colors"
                >AVISO DE PRIVACIDAD</a
            >
            <a href="#" class="hover:text-white transition-colors">CONTACTO</a>
            <a href="#" class="hover:text-white transition-colors">NOSOTROS</a>
            <a href="#" class="hover:text-white transition-colors">COTIZAR</a>
        </div>

        <!-- Center: Copyright -->
        <div class="text-gray-600 text-xs">
            © Todos los derechos reservados por JOLTEC
        </div>

        <!-- Right: Logo -->
        <div>
            <Image
                src={LogoJoltec}
                alt="Logo Footer"
                class="w-16 h-16 opacity-50 hover:opacity-100 transition-opacity"
            />
        </div>
    </div>
</footer>
